@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import "AuthPage.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: .2s;
}

::-webkit-scrollbar-thumb {
  background: rgb(202, 105, 35);
  border-radius: 5px;
  transition: .2s;
}

html.light {

  ::-webkit-scrollbar-track {
    background: rgb(229, 231, 235);
  }



}

html.dark {

  ::-webkit-scrollbar-track {
    background: rgb(21, 27, 36);
  }


}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.containerMain {
  padding: 0 100px;
}



@media only screen and (max-width: 900px) {
  .containerMain {
    padding: 0 20px;
  }
}